<!doctype html>
<html>
  <head>
    <style>
      @page {
      margin: 1cm;
      @bottom-right {
      content: "Page " counter(page) " of " counter(pages)
      }
      }

      html {
      font-family: sans-serif;
      }

      div.clear {
      page-break-before: always;
      }

      table {
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      font-size: 10px;
      }

      td, th {
      padding: 3px;
      }

      td:first-child,
      th:first-child {
      width: 5em;
      }

      td:last-child,
      th:last-child {
      text-align: right;
      width: 5em;
      }

      td:nth-child(3),
      th:nth-child(3) {
      width: 6em;
      }

      table, td, th {
      border: solid 1px black;
      }

      .logo {
      width: 150px;
      height: 150px;
      background-image: url('http://static.calpolyieee.org/img/ieee_logo_white.png');
      background-size: 150px;
      margin-top: 250px;
      }
    </style>
  </head>
  <body>
    <div class="logo"></div>
    <h1>Parts Catalog Spring 2015</h1>
    <h2>IEEE &mdash; Student Branch</h2>
    <h2>California Polytechnic State University</h2>
    <div class="clear"></div>
    {% for category in parts %}
    <h4>{{ category }}S &mdash; {{ parts[category]|length }} ITEMS</h4>
    <table>
      <thead><tr><th>Id</th><th>Name</th><th>Additional Info</th><th>Price ($)</th></tr></thead>
      <tbody>
        {% for part in parts[category] %}
        <tr>
          <td>{{ part.id }}</td>
          <td>{{ engineering_notation(part.main_info)|safe }}
            {% for pair in part.addtl_info %}
            {{ engineering_notation(pair)|safe }}
            {% endfor %}
          </td>
          <td><em>None</em></td>
          <td>{{ '{0:05.2f}'.format(part.price / 100) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}

    <h4>ICS &mdash; {{ ics|length }} ITEMS</h4>
    <table>
      <thead><tr><th>Id</th><th>Name</th><th>Additional Info</th><th>Price ($)</th></tr></thead>
      <tbody>
        {% for ic in ics %}
        <tr>
          <td>{{ ic.id }}</td>
          <td>{{ ic.part_no }} {{ ic.chip_type }} {{ ic.mftr }} {{ ic.name }}</td>
          <td>
            {% if ic.addtl_info[0].name %}
            {{ ic.addtl_info[0].name }}
            {% else %}
            <em>None</em>
            {% endif %}
          </td>
          <td>{{ '{0:05.2f}'.format(ic.price / 100) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4>KITS&mdash; {{ kits|length }} ITEMS</h4>
    <table>
      <thead><tr><th>Id</th><th>Name</th><th>Additional Info</th><th>Price ($)</th></tr></thead>
      <tbody>
        {% for kit in kits %}
        <tr>
          <td>{{ kit.id + 20000 }}</td>
          <td>{{ kit.name }}</td>
          <td><em>None</em></td>
          <td>{{ '{0:05.2f}'.format(kit.price / 100) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>

  <div class="clear"></div>
  <h4>CAL POLY IEEE &mdash; STUDENT BRANCH POLICIES</h4>
  <ul>
    <li>Business Hours M-R 9am-5pm / F 9am-3pm</li>
    <li>IEEE members receive a 20% discount</li>
    <li>No returns</li>
    <li>These prices subject to change</li>
    <li>This is an auto generated list. Some data may be misformatted or just incorrect. If you have any questions please contact the IEEE parts manager: Gurinder Rai, gsrai@calpoly.edu</li>
    <li>A live, continuously updated version of this list is available at http://calpolyieee.org/parts</li>
    <li>Cal Poly IEEE &mdash; SB accepts the following forms of payment: US Dollar, Euro, or Nuevo Sol</li>
    <li>This list &#169; Cal Poly IEEE &mdash; SB 2015 and may not be reproduced or referenced in any way without the express written consent of Major League Baseball</li>
  </ul>
</html>
