<div class="pdfreceipt">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pdf_receipt.css') }}">
  <h2>IEEE - Student Branch</h2>
  <h2>California Polytechnic <br>State University</h2>
  <div class="logo"></div>
  {% if receipt %}
  <div>Receipt #: {{ receipt.id }}</div>
  <div>Sold to: {{ receipt.purchaser }}</div>
  <div>Purchase date: {{ receipt.transaction.date.month }}/{{ receipt.transaction.date.day }}/{{ receipt.transaction.date.year }}</div>
  <div>Seller: {{ receipt.seller.name }}</div>
  <br>
  <div>
    <table>
      <tr>
        <td>IEEE-SB Part No.</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Unit Price</td>
        <td>Total Price </td>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.category }} {{ engineering_notation(item.main_info) }}</td>
        <td>{{ item.quantity }}</td>
        {# 05.2f : field width of 5, two digits for precision. #}
        <td>{% if item.price < 0 %}-{% endif %}${{ '{0:05.2f}'.format(item.price|abs / 100) }}</td>
        <td>{% if item.price < 0 %}-{% endif %}${{ '{0:05.2f}'.format(item.quantity * item.price|abs / 100) }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>TOTAL</td>
        <td>${{ '{0:05.2f}'.format(receipt.transaction.amount) }}</td>
      </tr>
    </table>
  </div>
  <br>
  {% if receipt.comment %}
    <h5>Comment:</h5>
    <div id="comment">
      {{ receipt.comment }}
    </div>
  {% endif %}
  {% else %}
  <p> Receipt not found. :( </p>
  {% endif %}
</div>
