.pdfreceipt * {
  font-family: Monospace;
}

.pdfreceipt table {
  border-collapse: collapse;
  width: 100%;
}

.pdfreceipt table td,
.pdfreceipt table th {
  border: 1px solid black;
  padding: 0 1% 0 1%;
  white-space: nowrap;
}

.pdfreceipt h2,
.pdfreceipt h5 {
  margin: 0
}

.pdfreceipt #comment {
  padding: 1% 1% 1% 1%;
  border: 1px solid black;
}

.pdfreceipt .logo {
  width: 150px;
  height: 150px;
  background-image: url('http://static.calpolyieee.org/img/ieee_logo_white.gif');
  background-size: 150px;
  position: absolute;
  top: -16px;
  right: -0px;
}
